.event_detail{
	.info-main{
		display: inline-block;
		width: 100%;
		height: auto;
		p > span{
			font-size: 16px;
			color: #888888;
			font-weight: bold;
		}
	}
	.map{
		margin-top: 2rem;
		max-height: 300px;
		iframe{
			height: 300px;
		}
	}
	.event_info{
		display: inline-block;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		border: 1px solid #009eb4;
		border-radius: 5px;
		padding: 0 10px;
		h3{
			display: inline-block;
			width: 100%;
			padding: 1.5rem 0 1.5rem 1rem;
			font-size: 18px;
			color: #333333;
			font-family: "Open Sans";
			font-weight: bold;
		}
		.info-items{
			display: inline-block;
			width: 100%;
			float: left;
			// padding: 0.5rem 0;
			.item{
				display: block;
				width: 100%;
				height: auto;
				position: relative;
				span{ 
					display: inline-block;
					color: #b9b9b9;
					i.fa{
						color: #009eb4;
						padding-right: 0.3rem;
						// padding-left: 1rem;    
					}
					i{
						font-style: normal;
						// padding-right: 1rem;
					}
				}
				.flatpickr-input {
					position: absolute;
					height: 100%;
					opacity: 0;
					cursor: pointer;
					top: 0;
					left: 0;
				}
			}
			hr{
				display: inline-block;
				width: 90%;
    			margin-left: 0.8rem;
    			margin-top: 0.5rem;
			}	
			a.btn-register{		
				background: #009eb4;
				text-align: center;
				color:white;
				width: 80%;
			    margin-left: 10%;
			    margin-bottom: 2rem;
			    margin-top: 0.5rem;
			    &:hover{
			    	background: #bed62f;
			    }
			}		
		}
	}
}
.event-related{
	h3{
		display: inline-block;
		width: 100%;
		font-size: 30px;
		color: #242424;
		font-weight: bold;
		padding-top: 1.5rem;
	}
	.news-pagination{
		display: inline-block;
		width: 100%;
		margin-bottom: 2rem;
	}
}