header{
	// border-bottom: 2px solid #bc9d1c;
	position: absolute;
	z-index: 2;
	width: 100%;
	.logo {
	    display: inline-block;
	    vertical-align: middle; 
	    margin: 5px 0;
	    img {
				display: block; 
				-webkit-filter: brightness(0) invert(1);
				filter: brightness(0) invert(1);
	  }
	}
	.language {
	    margin-top: 8px;
	    margin-bottom: 14px; 
	}
	select{
		background: none;
    color: #fff;
    border: 0;
	}
}

.header-top{
  // background: #071f4f;
  color: #fff;
  font-size: 14px;
	padding: 0 0 5px 0;
	.header-contact-top{
		ul{
			li{
				display: inline-block;
				padding: 9px 0;
				position: relative;
				&::after{
					content: '|';
					display: inline-block;
					color: #fff;
					margin: 0 20px;
				}
				&:last-child{
					&::after{
						display: none;
					}
				}
				.icon-support{
					display: inline-block;
					vertical-align: middle;
					width: 18px;
					height: 18px;
					background: url(../images/sprite.png) no-repeat;
					background-position: -5px 0;
				}
				.icon-hotline{
					display: inline-block;
					vertical-align: middle;
					width: 20px;
					height: 20px;
					background: url(../images/sprite.png) no-repeat;
					background-position: -30px -3px;
				}
			}
		}
	}
  
  .social-link{
  	ul{
  		li{
        padding:9px 15px;
  			&:last-child{
  				padding:0;
  			}
  			&:hover .fa{
  				color: #bc9d1c;
  			}
  		}
  	}
  }
  .header-contact-top{
    ul{
      li{
        // padding: 9px 10px;
        // border-right: 1px solid #0a2965;
        &:last-child{
          border-right:0;
        }
      }
    }
  }
  .address-top, 
  .header-contact-top{display: inline-block;margin-right: 10px;} 
  .address-top,
  .header-contact-top{
  		.fa{
				color: #ffffff;
				vertical-align: middle;
  		}
  }
  a:hover{
    color: #ffe20d;
  }
}
.cart-link{
	ul{
		li{
			display: inline-block;
			margin-left: 10px;
		}
	}
	.cart{
		a{
			background: #ffe20d;
			padding: 10px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			-webkit-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
			box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
		}
		.icon-cart{
			display: inline-block;
			vertical-align: middle;
			width: 22px;
			height: 22px;
			background: url(../images/sprite.png) no-repeat;
			background-position: -73px -27px;

		}
	}
	.account{
		a{
			background: #1dbb90;
			padding: 10px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			-webkit-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
			box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
		}
		.icon-login{
			display: inline-block;
			vertical-align: middle;
			width: 22px;
			height: 24px;
			background: url(../images/sprite.png) no-repeat;
			background-position: -73px -2px;

		}
	}
}
.header-bottom{
	padding: 20px 0;
	.container{
		position: relative;
		&::after{
			content: ' ';
			display: block;
			width: 100%;
			height: 0.4em;
			position: absolute;
			left: 0;
			right: 0;
			top: 5.5em;
			background-color: #ffffff;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			-webkit-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
			box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
		}
	}
}
body:not(.homepage){
	// .header-top{
	// 	color: #333;
	// }
	// .header-top .header-contact-top ul li .icon-hotline{
	// 	background-position: -4px -58px;
	// }
	// .cart-link ul li a{
	// 	color: #fff;
	// 	&:hover{
	// 		color: #ffe20d;
	// 	}
	// }
	// .header-top .header-contact-top ul li::after{
	// 	color: #333;
	// }
	// .header-contact-top .select2-container--default .select2-selection--single .select2-selection__rendered{
	// 	color: #333;
	// }
	// .select2-container--open .select2-dropdown--below{
	// 	border-top: 1px solid #aaa;
	// }
	// .header-top .address-top .fa, .header-top .header-contact-top .fa{
	// 	color: #333;
	// }
	header{
		position: relative;
		-webkit-box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.5);
		box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.5);
		
		// .logo {
		// 	img {
		// 		-webkit-filter: brightness(1) invert(0);
		// 		filter: brightness(1) invert(0);
		// 	}
		// }
		// .main-nav > ul > li > a {
		// 	color: #333;
		// }
		// .main-nav li{
		// 	.icon-search {
		// 		background: url(../images/sprite.png) no-repeat;
		// 		background-position: -39px -27px;
		// 	}
		// 	&:hover {
		// 		.icon-search {
		// 			background: url(../images/sprite.png) no-repeat;
		// 			background-position: -5px -27px;
		// 		}
		// 	}
		// } 
	}
	.header-bottom .container::after{
		display: none;
	}
}
@media (min-width: 768px){
	body:not(.homepage){
		header{
			background-image: url(../images/bg-1.jpg);
			background-repeat: repeat;
		}
		header.fixed {
			position: fixed;
			background: white;
			left: 0;
			right: 0;
			top: 0;
			z-index: 999;
			box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.5);
			-webkit-animation-name: fadeInDown;
			-webkit-animation-duration: 5s;
			-webkit-animation-timing-function: linear;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-direction: normal;
			-webkit-animation-play-state: running;
			-webkit-animation-fill-mode: forwards;
			-moz-animation-name: anim_titles;
			-moz-animation-duration: 5s;
			-moz-animation-timing-function: linear;
			-moz-animation-iteration-count: infinite;
			-moz-animation-direction: normal;
			-moz-animation-play-state: running;
			-moz-animation-fill-mode: forwards;
			-webkit-animation-delay: 1s;
			-moz-animation-delay: 1s;
			-webkit-animation-iteration-count: 1;
			-moz-animation-iteration-count: 1;
			-webkit-animation-duration: .7s;
			-moz-animation-duration: .7s;
			-webkit-animation-delay: 0s;
			-moz-animation-delay: 0s;
			-webkit-animation-timing-function: ease-out;
			-moz-animation-timing-function: ease-out;
		}
	}
}
