@media (max-width:1199px){
	.main-nav {
		> ul {
			> li{
				> a{
					padding: 10px;
				}
			}
		}
	}
	.header-bottom .container::after{
		top: 4.5em;
	}
	.slide-banner .carousel{
		height: 555px;
	}
}
@media (max-width:991px){
    .header-top .header-contact-top ul li::after{
        margin: 0 5px;
    }
    .header-bottom {
        padding: 10px 0;
    }
    .header-bottom .container::after {
        top: 7.5em;
    }
}
@media screen and (max-width: 480px){
    .school-and-center .slick-slide{
        height: 350px;
    }
    .school-and-center .card .card-block{
        bottom: 50px;
    }
}

@media screen and (max-width:576px) {
    .slide-banner {
        width: 100%;
        height: 240px;

        .carousel {
            display: block;
            position: absolute;
            width: 100%;
            height: auto;
            left: 0%;
            top: 20%;

            .pic {
                margin-top: 5%;
                height: 100px;
                // border: 2px solid yellow;
            }

            .carousel-caption {
                display: block;
                width: 100%;

                h3 {
                    font-size: 14px;
                    margin-top: -10%;
                }

                p {
                    display: none;
                }

                a {
                    font-size: 10px;

                    &.btn-light {
                        padding: 5px 7px;
                    }
                }
            }

            .carousel-indicators {
                top: 170px;

                li {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .list {
        a {
            display: block;
            margin: 10px 0px;
        }
    }

    .list-course .rectangle {
        top: -10px;
    }

    .list-course h1 {
        padding-top: 30px;
        font-size: 1.6rem;
    }

    .list-course .card {
        width: 100%;
        left: 0;
    }

    // .list-course .card .date-time{
    // 	width: 38% !important;
    // }
    .list-course .line {
        height: 53px;
    }

    .list-course .card .card-body .card-text .right-side {
        padding-top: 13px;
        padding-right: 1rem !important;

        .fee {
            font-size: 15px;
        }
    }

    .list-course .btn-more {
        margin-left: 0px;
        width: 100%;
    }

    .school-and-center {
        .rectangle {
            top: -10px;
        }

        h1 {
            display: block;
            width: 100%;
            // height: auto;
            font-size: 1.6rem !important;
            font-weight: bold;
        }

        .row-equal .card {
            // height: 290px;
            margin-bottom: 10px;

            .card-img-top-445 img {
                // min-height:210px;
                height: 220px;
            }

            .card-block {
                bottom: 50px;
            }
        }

        .carousel-inner {
            width: 106%;
            left: 0;
        }

        .carousel-indicators {
            top: 100%;
        }

    }

    .teacher {
        h1 {
            font-size: 1.6rem;
            font-weight: bold;
        }

        .carousel-inner {
            display: block;
            width: 106%;
            left: 0;
        }

        div[class^='col'] {
            width: 100%;
            display: contents;
        }

        .card {
            margin-bottom: 13px;
        }

        .carousel-control-next,
        .carousel-control-prev {
            display: none !important;
        }

        .carousel-indicators {
            display: flex;
            bottom: -40px;
            position: absolute;
        }
    }

    .most-choice-course {
        h1 {
            font-size: 1.6rem;
            font-weight: bold;
        }

        .card {
            margin-bottom: 10px;
        }

        .carousel-inner {
            display: block;
            width: 106%;
            left: 0;
        }

        .carousel-control-next,
        .carousel-control-prev {
            display: none !important;
        }
    }

    .customer-feedback {
        width: 100%;
        height: 600px;

        blockquote {
            height: 100%;

            img {
                width: 100%;
                height: auto;
                margin-top: 0 !important;
            }

            p {
                text-align: center !important;
                font-size: 16px;
                padding-left: 24px;
                display: block;
                &:before {
                    top: -9px;
                    left: 14px;
                    font-size: 36px;
                    margin-top: -15px;
                    margin-left: 0px;
                    position: absolute;
                }
            }

            .blockquote-footer {
                font-size: 14px;
                text-align: center;
            }
        }

    }
}

@media screen and (max-width:640px) {
    // .list-course .list a {
    //     margin: 8px;
    // }

    .list-course .card .card-body .card-text .right-side {
        padding-right: 1rem;
    }

    .list-course .btn-more {
        width: 100%;
        margin-left: 0;
    }

    .school-and-center h1 {
        font-size: 35px;
    }

    .school-and-center .list a {
        margin: 8px 0px;
    }

    .school-and-center .row-equal .card {
        height: 280px !important;
        display: inline-block;
        width: 106%;

        // margin-bottom: 10px;
        .card-block {
            bottom: 0;

            a {
                font-size: 16px;
            }
        }
    }

    .teacher .col {
        float: left;
        width: 19.3%;
        margin: 0;
        padding: 0;

        a {
            font-size: 1rem;
            text-align: center;
        }
    }

    .most-choice-course .card .card-footer .group-count .group-left,
    .most-choice-course .card .card-footer .group-count .group-right {
        width: 50% !important;
    }

    .customer-feedback img {
        width: 100%;
        height: auto;
        margin-top: 40%;
    }

    .customer-feedback .carousel-control-next,
    .customer-feedback .carousel-control-prev {
        display: none !important;
    }

}

@media screen and (max-width:768px) {
    .teacher .carousel-inner .col {
        width: 100%;

        .card {
            float: left;
            display: block;
            width: 100%;
        }
    }
}

@media screen and (max-width:995px) {
    .slide-banner .pic img {
        margin-top: 10%;
    }

    .slide-banner .carousel-caption h3 {
        font-size: 2.5rem;
    }

    .list-course .card .date-time {
        width: 100px;
    }

    .list-course .card .card-body .card-text .right-side {
        padding-right: .2rem;
        padding-top: 13px;
    }

    .list-course .card .card-body .card-text .right-side .fee {
        font-size: 16px;
    }

    .list-course .card .card-body .card-title {
        font-size: 1.1rem;
    }

    .list-course .card .overlay1 .overlay-content a.btn-buy,
    .list-course .card .overlay2 .overlay-content a.btn-buy,
    .list-course .card .overlay3 .overlay-content a.btn-buy {
        font-size: 1.0rem;
        padding: 0.5rem 0;
    }

    // .school-and-center .row-equal .card{
    // 	height: 310px;
    // }
    // .most-choice-course .card{
    // 	height: 400px;
    // }
    .most-choice-course .card .card-footer span {
        font-size: 1rem;
    }

    .most-choice-course .card .card-footer .group-count .group-left,
    .most-choice-course .card .card-footer .group-count .group-right {
        float: left;
        width: 50%;
    }
}
