.calendar-news{
	position: relative;
	// top: 100px;
	display: block;
	width: 100%;
	height:auto;
	margin-bottom: 100px;
	font-family: $font-stack;
	h3{
		width: 100%;
		font-size: 30px;
		padding: 30px 3px;
		margin: 0;
		color: #242424;		
	}
	.flatpickr-next-month i.fa-caret-right,
	.flatpickr-prev-month i.fa-caret-left
	{
		font-size: 1.5rem;
	}
	.flatpickr-next-month i.fa-caret-right{
		color: #6f6f6f;
	}
	.flatpickr-prev-month i.fa-caret-left{
		color: #0ab1c8;
	}
	.flatpickr-months{
		height: 50px;
		.flatpickr-current-month{
			height: 50px;
			font-family: $font-stack;
			font-size: 18px;
			color: #b7b7b7;
		}
	}
	.news-item{
		width: 100%;
		min-height: 90px;
		.item-pic{
			width: 100%;
			height: 100%;
			overflow: hidden;
			img{
				width: 100%;
				height: 90px;
				transition: 0.5s ease;
			}
		}				
		.tips-date{
			display: block;
			width: 100%;
			font-size: 13px;
			color: #6b6b6b;
			padding-top: 5px;
			.tips{
				width: 49.5%
			}
			.datetime{
				width: 49.5%;
			}
		}
		&:hover{
			img{
				transform: scale(1.2);
			}
			a{
				color:$background-color-yellow
			}
		}
	}
	.news-item a,
	.event-item a{
			font-size: 14px;
			font-weight: bold;
			display: inline-block;
    		padding-bottom: 10px;
	}
	.event-item{
		width: 100%;
		min-height: 90px;
		margin-bottom: 16px;
		.event-date{
			display: block;
			box-sizing: border-box;
			width: 100%;
			height: 90px;
			border: 2px solid #0ab1c8;
			border-radius: 5px;
			margin: 0;
    		padding: 0;
			p{
				display: block;
				width: 100%;
				// padding: 8px 0;
				font-size: 40px;
				font-weight: bold;
				// background: green;
				margin: 0;
				color: #373737;
			}
			span{
				display: inline-block;
				width: 100%;
				padding: 0;
			}
		}
		&:hover{
			.event-date p{
				color: $background-color-yellow;
			}
			.event-info a{
				color: $background-color-yellow;
			}
		}
		.event-info{
			display: inline-block;
			width: 100%;
			// background: blue;
			padding-left: 15px;
			span{
				padding: 0 15px;				
				text-align: left;
				padding-top: 4px;			
			}
			&:hover a span{
				color: $background-color-blue;
			}
		}

	}
	a.more{
		display:block;
		width: 100%;
		font-size: 1rem;
		color: #009eb4;
		margin-top: 1.5rem;
		margin-right: 1rem;
		&:hover{
			color: #bed62f;
		}
	}
	a.more-event{
		margin-top: 0rem;
	}
}
.scholaship-event{
	margin-bottom: 50px;
	h3.event{
		margin-left: -1rem;
	}
	.event-date{
		margin-left: -1rem !important;
	}
	hr{
		width: 96%;
		margin-left: 0;
	}
	hr.event{
		width: 100%;
		margin-left: -1rem;
	}
}
.second-slide-banner{
	// position: relative;
	// display: inline-block;
	width: 100%;
	max-height: 390px;
	.news-banner{		
		// position: relative;	
		max-height: 100%;
		max-width: 100%;
		.bn-slide{		
			position: relative;		
			width: 100%;
			height: 100%;
			.img-bg{
				position: absolute;
				width: 100%;
				height: 390px;
				img{		
					width: 100%;
					height: 100%;
					text-align: center;
				}
			}
			.news-intro{
				display: inline-block;
				margin-top: 7%;				
				blockquote{
					width: 100%;
					background: white;
					height: auto;
					border-left: 0.5rem solid #009eb4;
					h3{
						color: #009eb4;
						font-size: 24px;
						font-family: "Open Sans";
						font-weight: bold;
						padding: 1rem 2rem 0.5rem 2rem;
					}
					p{
						padding-left: 2rem;
						padding-bottom: 1.2rem;
						padding-right: 2rem;
					}
				}
				
			}
			
		}
			
			
	}

}
	
.main-news{
	width: 100%;
	height: auto;
	.news-item{
		display: inline-block;
		width: 100%;
		height: auto;
		margin-bottom: 1.5rem;
		a.news-ima{
			display: inline-block;
			overflow: hidden;
			width: 100%;
			min-height: auto;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;			
				transition: 0.5s ease;				
			}	
			&:hover img{
				transform: scale(1.2);
			}
		}
		.news-item-content{
			display: inline-block;
			width: 100%;
			height: auto;
			box-sizing: border-box;
			padding-left: 1.5rem;
			text-transform: initial;
			h3{
				display: inline-block;
				width: 100%;
				color: #bed62f;
				font-family: "Open Sans";
				font-weight: bold;
				font-size: 18px;
				min-height: 60px;
				max-height: 60px;
				overflow: hidden;
				a{
					text-transform: lowercase;
				}
				a:hover{
					color: #009eb4;
				}
			}
			span{
					color: #a6a6a6;
					display: inline-block;
					width: 100%;
					padding: 0.5rem 0;
					i{
						padding-right: 0.5rem;
						color: #009eb4;
					}
				} 
			p{
				font-size: 14px;
				color: #a6a6a6;
				text-align: justify;
				min-height: 60px;
				max-height: 60px;
				overflow: hidden;
			}
			a.view-more{
				display: inline-block;
				width: 100%;
				font-size: 1rem;
				color: #009eb4;
				&:hover{
					color: #bed62f;
				}
			}
		}
	}
	.news-pagination{
		display: inline-block;
		width: 100%;
		float: right;
	}
}
