.filters-toggle {
    text-align: center;
    color: #fff;
    background: #009eb4;
    padding: 4px 7px;
    outline: none;
    border: 1px solid #009eb4;
    margin-top: 20px;
}
@media screen and (max-width: 991px){
	html.state-filter{
		overflow: hidden;
	    height: 100%;
		.filter-list{
		    pointer-events: all;
		    -webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		    -o-transform: translateX(0);
		    transform: translateX(0);
		    -webkit-transition: all linear .2s;
		    -o-transition: all linear .2s;
		    transition: all linear .2s;
		}
	}
	.sidebar{
		&.filter-list {
			margin-top:0;
		    position: fixed;
		    z-index: 9999;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    padding-top: 40px;
		    padding: 20px;
		    background-color: #fff;
		    overflow: hidden;
		    -webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		    -o-transform: translateX(100%);
		    transform: translateX(100%);
		    -webkit-transition: all linear .2s;
		    -o-transition: all linear .2s;
		    transition: all linear .2s;
		    .nav {
				display: block;
			    position: absolute;
			    top: 0;
			    left: 0;
			    height: 40px;
			    width: 100%;
			    padding-top: 8px;
			    padding-bottom: 8px;
			    z-index: 9999;
			    margin-bottom: 3px;
			    font-size: 18px;
			    line-height: 24px;
			    // color: $c1;
			    background: #fff;
			    text-align: center;
			    font-weight: 500;
			    // border-bottom: 2px solid $c1;
			    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
			    .filter-close {
				    position: absolute;
				    top: 5px;
				    left: 5px;
				    font-size: 12px;
				    line-height: 1.4;
				    color: #337ab7;
				}
			}
			.sidebar-filters {
			    display: block;
			    overflow: auto;
			    position: absolute;
			    z-index: 9;
			    top: 40px;
			    left: 0;
			    right: 0;
			    margin: 0;
			    padding: 20px;
			    height: 100%;
			    padding-bottom:120px;
			}
			.filter-options{
				.button{
				    position: fixed;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    height: 60px;
				    padding: 10px 20px 0;
				    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);
				    margin-bottom: 0;
				    z-index: 99;
				    background: #fff;
				}
			}
		}
	}
	
}
@media (min-width: 992px){
	.filter-list{
		.nav{
		    display: none;
		}
	}
	.filters-toggle{
	    display: none;
	}
	.sidebar .apply{
		display: none;
	}
	
}
@media (max-width:1199px){
	.sidebar{
		.block-cate{
			.block-title,
			.list-cate{
				padding: 15px;
				.count{
					margin-left:0;
				}
			}
		}
	}
}