@font-face {
  font-family: "Ayuthaya";
  src: url("../fonts/Ayuthaya.ttf") format("truetype"); }
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"); }
.slide-banner {
  position: relative;
  width: 100%;
  z-index: 400;
  overflow: hidden;
  background-image: url(../images/bg-1.jpg);
  background-repeat: repeat; }
  .slide-banner .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%; }
  .slide-banner .carousel {
    height: 545px; }
  .slide-banner .carousel-inner {
    top: 7%;
    display: block; }
  .slide-banner .pic {
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: block; }
    .slide-banner .pic img {
      width: 100%;
      height: 100%; }
  .slide-banner .carousel-caption {
    float: left;
    width: 100%;
    position: unset;
    margin-top: 5%; }
    .slide-banner .carousel-caption h3 {
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 3rem; }
    .slide-banner .carousel-caption p {
      font-size: 1.12rem;
      font-family: "Open Sans", sans-serif; }
    .slide-banner .carousel-caption a {
      color: #ec6a01;
      font-size: 1.12rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 700; }
      .slide-banner .carousel-caption a.btn-light {
        border-radius: 7px;
        padding: 10px 30px; }

.list {
  width: 100%;
  display: block;
  margin-top: 35px;
  margin-bottom: 25px; }
  .list a {
    color: #1dbb90;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.22);
            box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.22);
    padding: 8px 20px; }
    .list a.same {
      background-color: #ffffff; }
    .list a.active {
      background-color: #1dbb90;
      color: #ffffff; }
    .list a:hover {
      background-color: #ffba33;
      color: #ffffff; }

.list-course {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  z-index: 300;
  top: 50px; }
  .list-course .rectangle {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 3em;
    height: 2.8em;
    background-color: #ffffff;
    margin: -1.4em 0 0 -1.3em;
    -webkit-transform: rotate(35deg) skewX(-20deg);
    transform: rotate(35deg) skewX(-20deg); }
  .list-course h1 {
    text-transform: uppercase;
    font-size: 45px;
    padding-top: 75px;
    color: #2b2b2b;
    font-family: "Open Sans", sans-serif;
    font-weight: 500; }
  .list-course .card {
    position: relative;
    width: 100%;
    height: 335px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px; }
    .list-course .card .date-time {
      position: absolute;
      top: 30%;
      width: 30%;
      height: 28px;
      line-height: 28px;
      font-size: 13px;
      color: #1eaace;
      padding-left: 1rem;
      border-top: 15px solid rgba(255, 255, 255, 0.8);
      border-right: 10px solid transparent;
      border-bottom: 15px solid rgba(255, 255, 255, 0.8); }
      .list-course .card .date-time p {
        position: absolute;
        top: -13px;
        font-weight: bold; }
    .list-course .card img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0; }
    .list-course .card .card-body {
      padding: 0;
      position: absolute;
      bottom: 0;
      width: 100%; }
      .list-course .card .card-body .item2 {
        background-color: #1dbb90; }
      .list-course .card .card-body .item1 {
        background-color: #0ab1c8; }
      .list-course .card .card-body .item3 {
        background-color: #ffba33; }
      .list-course .card .card-body a {
        text-decoration: none; }
      .list-course .card .card-body .card-title {
        font-size: 1.3rem;
        display: block;
        padding: 0.5rem 1.2rem;
        color: white; }
      .list-course .card .card-body .card-text {
        width: 100%;
        height: 70px;
        display: block;
        margin-top: -14px;
        background: #ffffff;
        overflow: hidden; }
        .list-course .card .card-body .card-text .left-side {
          float: left;
          width: 49.5%;
          height: auto;
          padding-left: 1.2rem;
          padding-top: 10px; }
          .list-course .card .card-body .card-text .left-side .language {
            margin: 0;
            font-weight: bold;
            color: #1dbb90; }
          .list-course .card .card-body .card-text .left-side i {
            margin: 0;
            padding: 0;
            font-size: 12px;
            color: #ffba33;
            margin-right: 3px; }
        .list-course .card .card-body .card-text .line {
          display: block;
          float: left;
          width: 1px;
          height: 53px;
          background: #d2d2d2;
          margin-top: 10px; }
        .list-course .card .card-body .card-text .right-side {
          float: left;
          width: 49.5%;
          height: auto;
          padding-right: 1.2rem;
          padding-top: 10px; }
          .list-course .card .card-body .card-text .right-side p {
            padding: 0;
            margin: 0; }
          .list-course .card .card-body .card-text .right-side .time {
            font-weight: 300;
            color: #909090;
            font-size: 13px; }
          .list-course .card .card-body .card-text .right-side .fee {
            font-size: 18px;
            color: #333333;
            font-weight: bold; }
      .list-course .card .card-body .overlay1,
      .list-course .card .card-body .overlay2,
      .list-course .card .card-body .overlay3,
      .list-course .card .card-body .btn-buy {
        display: none; }
    .list-course .card .overlay1,
    .list-course .card .overlay2,
    .list-course .card .overlay3 {
      position: absolute;
      overflow: hidden;
      bottom: 100%;
      left: 0;
      right: 0;
      width: 100%;
      height: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .list-course .card .overlay1 .overlay-content,
      .list-course .card .overlay2 .overlay-content,
      .list-course .card .overlay3 .overlay-content {
        width: 100%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 0.5rem 1.2rem; }
        .list-course .card .overlay1 .overlay-content .card-title,
        .list-course .card .overlay2 .overlay-content .card-title,
        .list-course .card .overlay3 .overlay-content .card-title {
          font-size: 1.5rem;
          display: block;
          color: white;
          font-weight: bold; }
        .list-course .card .overlay1 .overlay-content p,
        .list-course .card .overlay2 .overlay-content p,
        .list-course .card .overlay3 .overlay-content p {
          display: block;
          width: 100%;
          max-height: 200px;
          min-height: 150px; }
        .list-course .card .overlay1 .overlay-content a,
        .list-course .card .overlay2 .overlay-content a,
        .list-course .card .overlay3 .overlay-content a {
          text-decoration: none; }
          .list-course .card .overlay1 .overlay-content a.btn-buy,
          .list-course .card .overlay2 .overlay-content a.btn-buy,
          .list-course .card .overlay3 .overlay-content a.btn-buy {
            display: inline-block;
            margin-left: 20%;
            width: 60%;
            padding: 10px;
            text-transform: uppercase;
            background: #ffffff;
            color: #0ab1c8;
            font-weight: bold;
            font-size: 18px;
            text-decoration: none; }
            .list-course .card .overlay1 .overlay-content a.btn-buy:hover,
            .list-course .card .overlay2 .overlay-content a.btn-buy:hover,
            .list-course .card .overlay3 .overlay-content a.btn-buy:hover {
              background: #0ab1c8;
              color: #ffffff; }
    .list-course .card:hover .overlay1 {
      bottom: 0;
      height: 100%;
      background: #0ab1c8; }
    .list-course .card:hover .overlay2 {
      bottom: 0;
      height: 100%;
      background: #1dbb90; }
    .list-course .card:hover .overlay3 {
      bottom: 0;
      height: 100%;
      background: #ffba33; }
  .list-course .btn-more {
    margin-left: 45%;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #1dbb90;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none; }
    .list-course .btn-more:hover {
      background: #0ab1c8;
      color: #ffffff; }

.row-equal > div[class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.school-and-center {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  z-index: 200;
  top: 100px; }
  .school-and-center .rectangle {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 3em;
    height: 2.8em;
    background-color: #ffffff;
    margin: -1.4em 0 0 -1.3em;
    -webkit-transform: rotate(35deg) skewX(-20deg);
    transform: rotate(35deg) skewX(-20deg); }
  .school-and-center h1 {
    display: block;
    width: 100%;
    height: 100px;
    color: #191919;
    font-size: 45px;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 35px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif; }
  .school-and-center .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C6C2C2; }
    .school-and-center .carousel-indicators li.active {
      background: #0ab1c8; }
  .school-and-center .row-equal .card {
    width: 100%;
    position: relative;
    min-height: 430px;
    margin-bottom: 70px;
    overflow: hidden; }
    .school-and-center .row-equal .card .card-img-top-445 {
      width: 100%;
      position: absolute;
      top: 0;
      height: 400px;
      overflow: hidden; }
      .school-and-center .row-equal .card .card-img-top-445 img {
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        width: 100%;
        height: 400px; }
    .school-and-center .row-equal .card .card-block {
      position: absolute;
      bottom: 0px;
      height: auto;
      width: 100%;
      background: #1dbb90;
      padding: 0.5rem 1.2rem;
      position: absolute; }
      .school-and-center .row-equal .card .card-block a {
        font-weight: bold;
        font-size: 16px;
        color: #f6f6f6; }
      .school-and-center .row-equal .card .card-block h6 {
        color: #f6f6f6;
        font-size: 0.8rem;
        padding-bottom: 10px; }
    .school-and-center .row-equal .card:hover img {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

.teacher {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  z-index: 10;
  top: 100px;
  margin-top: 20px;
  padding-bottom: 50px; }
  .teacher .carousel-indicators {
    display: none; }
  .teacher .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C6C2C2; }
    .teacher .carousel-indicators li.active {
      background: #0ab1c8; }
  .teacher .rectangle {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 3em;
    height: 2.8em;
    background-color: #ffffff;
    margin: -1.4em 0 0 -1.3em;
    -webkit-transform: rotate(35deg) skewX(-20deg);
    transform: rotate(35deg) skewX(-20deg); }
  .teacher h1 {
    display: block;
    width: 100%;
    height: 100px;
    color: #191919;
    font-size: 45px;
    text-transform: uppercase;
    padding-top: 80px;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif; }
  .teacher .card {
    display: block;
    width: 100%;
    height: 335px;
    overflow: hidden;
    border: none;
    background: transparent; }
    .teacher .card img {
      width: 100%;
      height: 265px; }
    .teacher .card a {
      display: block;
      padding-top: 5px;
      color: #333333;
      font-weight: bold;
      font-size: 18px;
      font-family: "Open Sans", sans-serif; }
    .teacher .card h6 {
      font-family: "Open Sans", sans-serif; }
    .teacher .card .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      overflow: hidden;
      background: rgba(10, 177, 200, 0.5); }
      .teacher .card .overlay a {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 25%;
        left: 40%;
        background: white;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        color: #0ab1c8;
        font-family: "Open Sans", sans-serif; }
        .teacher .card .overlay a:hover {
          background: #ffba33;
          color: #ffffff; }
    .teacher .card:hover .overlay {
      display: block;
      height: 585px; }
  .teacher .carousel-control-next, .teacher .carousel-control-prev {
    width: 2%;
    color: #0ab1c8; }
  .teacher .carousel-control-next {
    right: -30px; }
  .teacher .carousel-control-prev {
    left: -30px; }

.most-choice-course {
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff;
  top: 150px; }
  .most-choice-course .carousel-control-next,
  .most-choice-course .carousel-control-prev {
    width: 2%;
    color: #0ab1c8; }
  .most-choice-course .carousel-control-prev {
    left: -30px; }
  .most-choice-course .carousel-control-next {
    right: -30px; }
  .most-choice-course .carousel-indicators li {
    top: 80px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C6C2C2; }
  .most-choice-course .carousel-indicators li.active {
    background: #0ab1c8; }
  .most-choice-course h1 {
    display: block;
    width: 100%;
    color: #191919;
    font-size: 45px;
    text-transform: uppercase;
    padding: 20px 0;
    font-family: "Open Sans", sans-serif; }
  .most-choice-course .card {
    width: 100%;
    display: block;
    height: 378px;
    overflow: hidden; }
    .most-choice-course .card .card-img-top {
      display: block;
      width: 100%;
      height: 155px;
      overflow: hidden; }
      .most-choice-course .card .card-img-top img {
        width: 100%;
        height: 100%;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
    .most-choice-course .card:hover .card-img-top img {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .most-choice-course .card .card-block {
      color: #707070;
      padding: 1rem 1.2rem; }
      .most-choice-course .card .card-block .card-title {
        display: block;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold; }
        .most-choice-course .card .card-block .card-title a {
          color: #707070; }
      .most-choice-course .card .card-block .card-subtitle {
        font-size: 14px;
        margin-top: 0; }
        .most-choice-course .card .card-block .card-subtitle span {
          color: #0ab1c8;
          font-weight: bold;
          padding-top: 15px; }
    .most-choice-course .card .card-footer a {
      display: block;
      width: 100%;
      color: #d4d4d4; }
      .most-choice-course .card .card-footer a i.voted {
        color: #ffba33; }
    .most-choice-course .card .card-footer span {
      display: block;
      width: 100%;
      font-weight: bold;
      font-size: 24px;
      color: #333333; }
    .most-choice-course .card .card-footer .group-count {
      display: block;
      width: 100%;
      height: 23px;
      float: left; }
      .most-choice-course .card .card-footer .group-count .group-left,
      .most-choice-course .card .card-footer .group-count .group-right {
        margin-top: 5px;
        float: left;
        width: 50%;
        display: block; }
      .most-choice-course .card .card-footer .group-count img {
        float: left;
        width: 23px;
        height: 23px;
        margin-right: 5px; }
      .most-choice-course .card .card-footer .group-count span {
        padding-top: 2px;
        width: 100%;
        height: 100%;
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 15px; }

.customer-feedback {
  position: relative;
  width: 100%;
  height: 410px;
  background: #02a5bc;
  top: 270px; }
  .customer-feedback .carousel-control-next,
  .customer-feedback .carousel-control-prev {
    width: 2%;
    color: #ffffff;
    height: 410px; }
  .customer-feedback .carousel-control-prev {
    left: -30px; }
  .customer-feedback .carousel-control-next {
    right: -30px; }
  .customer-feedback img {
    width: 160px;
    height: 160px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid white; }
  .customer-feedback blockquote {
    margin-top: 13%;
    height: 410px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff; }
    .customer-feedback blockquote p {
      display: inline-block;
      text-align: left;
      font-size: 18px;
      margin-left: 0px; }
    .customer-feedback blockquote p:before {
      content: "\201C";
      font-family: 'Ayuthaya';
      float: left;
      color: #AEECF5;
      font-size: 100px;
      margin-top: -75px;
      margin-left: -40px; }
    .customer-feedback blockquote .blockquote-footer {
      color: #ffffff;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 20px; }
      .customer-feedback blockquote .blockquote-footer:before {
        display: none; }
      .customer-feedback blockquote .blockquote-footer .diff {
        color: #bef7ff; }

@media screen and (max-width: 576px) {
  .slide-banner {
    width: 100%;
    height: 240px; }
    .slide-banner .carousel {
      display: block;
      position: absolute;
      width: 100%;
      height: auto;
      left: 0%;
      top: 20%; }
      .slide-banner .carousel .pic {
        margin-top: 5%;
        height: 100px; }
      .slide-banner .carousel .carousel-caption {
        display: block;
        width: 100%; }
        .slide-banner .carousel .carousel-caption h3 {
          font-size: 14px;
          margin-top: -10%; }
        .slide-banner .carousel .carousel-caption p {
          display: none; }
        .slide-banner .carousel .carousel-caption a {
          font-size: 10px; }
          .slide-banner .carousel .carousel-caption a.btn-light {
            padding: 5px 7px; }
      .slide-banner .carousel .carousel-indicators {
        top: 170px; }
        .slide-banner .carousel .carousel-indicators li {
          width: 15px;
          height: 15px; }

  .list a {
    display: block;
    margin: 10px 0px; }

  .list-course .rectangle {
    top: -10px; }

  .list-course h1 {
    padding-top: 30px;
    font-size: 1.6rem; }

  .list-course .card {
    width: 120%;
    left: -10%; }

  .list-course .card .date-time {
    width: 38% !important; }

  .list-course .line {
    height: 53px; }

  .list-course .card .card-body .card-text .right-side {
    padding-top: 13px;
    padding-right: 1rem !important; }
    .list-course .card .card-body .card-text .right-side .fee {
      font-size: 15px; }

  .list-course .btn-more {
    margin-left: 0px;
    width: 100%; }

  .school-and-center .rectangle {
    top: -10px; }
  .school-and-center h1 {
    display: block;
    width: 100%;
    height: auto;
    font-size: 1.6rem !important;
    font-weight: bold; }
  .school-and-center .row-equal .card {
    height: 290px;
    margin-bottom: 10px; }
  .school-and-center .carousel-inner {
    width: 128%;
    left: -8%; }
  .school-and-center .carousel-indicators {
    top: 100%; }

  .teacher h1 {
    font-size: 1.6rem;
    font-weight: bold; }
  .teacher .carousel-inner {
    display: block;
    width: 116%;
    left: -9%; }
  .teacher div[class^='col'] {
    width: 100%;
    display: contents; }
  .teacher .card {
    margin-bottom: 13px; }
  .teacher .carousel-control-next,
  .teacher .carousel-control-prev {
    display: none; }
  .teacher .carousel-indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: -40px;
    position: absolute; }

  .most-choice-course h1 {
    font-size: 1.6rem;
    font-weight: bold; }
  .most-choice-course .card {
    margin-bottom: 10px; }
  .most-choice-course .carousel-inner {
    display: block;
    width: 116%;
    left: -9%; }
  .most-choice-course .carousel-control-next,
  .most-choice-course .carousel-control-prev {
    display: none; }

  .customer-feedback {
    width: 100%;
    height: 600px; }
    .customer-feedback blockquote {
      height: 100%; }
      .customer-feedback blockquote img {
        width: 100%;
        height: auto;
        margin-top: 0 !important; }
      .customer-feedback blockquote p {
        font-size: 16px; }
        .customer-feedback blockquote p:before {
          font-size: 80px;
          margin-top: -15px;
          margin-left: 0px; }
      .customer-feedback blockquote .blockquote-footer {
        font-size: 14px; } }
@media screen and (max-width: 640px) {
  .list-course .list a {
    margin: 8px; }

  .list-course .card .card-body .card-text .right-side {
    padding-right: 1rem; }

  .list-course .btn-more {
    width: 100%;
    margin-left: 0; }

  .school-and-center h1 {
    font-size: 35px; }

  .school-and-center .list a {
    margin: 8px 0px; }

  .school-and-center .row-equal .card {
    height: 420px !important;
    margin-bottom: 10px; }

  .teacher .col {
    float: left;
    width: 19.3%;
    margin: 0;
    padding: 0; }
    .teacher .col a {
      font-size: 1rem;
      text-align: center; }

  .most-choice-course .card .card-footer .group-count .group-left,
  .most-choice-course .card .card-footer .group-count .group-right {
    width: 50% !important; }

  .customer-feedback img {
    width: 100%;
    height: auto;
    margin-top: 40%; } }
@media screen and (max-width: 995px) {
  .slide-banner .pic img {
    margin-top: 10%; }

  .slide-banner .carousel-caption h3 {
    font-size: 2.5rem; }

  .list-course .card .date-time {
    width: 47%; }

  .list-course .card .card-body .card-text .right-side {
    padding-right: .2rem;
    padding-top: 13px; }

  .list-course .card .card-body .card-text .right-side .fee {
    font-size: 16px; }

  .list-course .card .card-body .card-title {
    font-size: 1.1rem; }

  .list-course .card .overlay1 .overlay-content a.btn-buy,
  .list-course .card .overlay2 .overlay-content a.btn-buy,
  .list-course .card .overlay3 .overlay-content a.btn-buy {
    font-size: 1.0rem;
    padding: 0.5rem 0; }

  .school-and-center .row-equal .card {
    height: 310px; }

  .most-choice-course .card {
    height: 400px; }

  .most-choice-course .card .card-footer span {
    font-size: 1rem; }

  .most-choice-course .card .card-footer .group-count .group-left,
  .most-choice-course .card .card-footer .group-count .group-right {
    width: 100%; } }

/*# sourceMappingURL=slyle.css.map */